* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.navigator {
	background-color: lightgray;
	border-radius: 15px;
	border: 2px solid darkgrey;
	margin-left: 20px;
	padding: 10px;
}

.heading {
	margin: 20px;
}